aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anthropic==0.52.1
anyio==3.7.1
asttokens==3.0.0
asyncer==0.0.2
attrs==25.1.0
audioop-lts==0.2.1
backoff==2.2.1
beautifulsoup4==4.13.3
bidict==0.23.1
blinker==1.9.0
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.1.31
cffi==1.17.1
chainlit==0.7.501
chardet==3.0.4
charset-normalizer==3.4.1
chevron==0.14.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.2
cssselect2==0.8.0
cycler==0.12.1
dataclasses-json==0.5.9
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
duckduckgo_search==8.0.4
entrypoints==0.4
et_xmlfile==2.0.0
executing==2.2.0
Faker==36.1.1
fastapi==0.100.1
fastapi-socketio==0.0.10
favicon==0.7.0
ffmpy==0.5.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.0
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.6.0
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.69.1
googletrans==4.0.0rc1
gradio==5.29.0
gradio_client==1.10.0
griffe==1.7.3
groovy==0.1.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
htbuilder==0.9.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.2
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.6.1
inflection==0.5.1
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
Lazify==0.4.0
litellm==1.72.0
literalai==0.1.201
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-enum==1.5.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcp==1.9.2
mdurl==0.1.2
monotonic==1.6
multidict==6.4.4
mypy_extensions==1.1.0
narwhals==1.27.1
nest-asyncio==1.6.0
numpy==2.2.3
openai==1.82.1
openai-agents==0.0.16
opencv-python==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-alephalpha==0.40.7
opentelemetry-instrumentation-anthropic==0.40.7
opentelemetry-instrumentation-bedrock==0.40.7
opentelemetry-instrumentation-chromadb==0.40.7
opentelemetry-instrumentation-cohere==0.40.7
opentelemetry-instrumentation-crewai==0.40.7
opentelemetry-instrumentation-google-generativeai==0.40.7
opentelemetry-instrumentation-groq==0.40.7
opentelemetry-instrumentation-haystack==0.40.7
opentelemetry-instrumentation-lancedb==0.40.7
opentelemetry-instrumentation-langchain==0.40.7
opentelemetry-instrumentation-llamaindex==0.40.7
opentelemetry-instrumentation-logging==0.52b1
opentelemetry-instrumentation-marqo==0.40.7
opentelemetry-instrumentation-mcp==0.40.7
opentelemetry-instrumentation-milvus==0.40.7
opentelemetry-instrumentation-mistralai==0.40.7
opentelemetry-instrumentation-ollama==0.40.7
opentelemetry-instrumentation-openai==0.40.7
opentelemetry-instrumentation-pinecone==0.40.7
opentelemetry-instrumentation-qdrant==0.40.7
opentelemetry-instrumentation-replicate==0.40.7
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-sagemaker==0.40.7
opentelemetry-instrumentation-sqlalchemy==0.52b1
opentelemetry-instrumentation-threading==0.52b1
opentelemetry-instrumentation-together==0.40.7
opentelemetry-instrumentation-transformers==0.40.7
opentelemetry-instrumentation-urllib3==0.52b1
opentelemetry-instrumentation-vertexai==0.40.7
opentelemetry-instrumentation-watsonx==0.40.7
opentelemetry-instrumentation-weaviate==0.40.7
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-semantic-conventions-ai==0.4.9
opentelemetry-util-http==0.52b1
orjson==3.10.18
packaging==23.2
pandas==2.2.3
parso==0.8.4
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.1.0
platformdirs==4.3.8
plotly==6.0.0
posthog==3.25.0
primp==0.15.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.3
psutil==7.0.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.10.1
pymdown-extensions==10.14.3
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.1
python-graphql-client==0.4.3
python-multipart==0.0.6
python-socketio==5.13.0
pytz==2025.1
pywin32==310
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==26.4.0
qrcode==8.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.1
requests==2.32.3
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.23.0
rsa==4.9
ruff==0.11.9
safehttpx==0.1.6
semantic-version==2.10.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
sse-starlette==2.3.6
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
starlette==0.27.0
streamlit==1.46.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
syncer==2.0.3
tenacity==9.0.0
tiktoken==0.9.0
tinycss2==1.4.0
tk==0.1.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
traceloop-sdk==0.40.7
traitlets==5.14.3
typer==0.15.3
types-requests==2.32.0.20250515
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
uptrace==1.31.0
uritemplate==4.1.1
urllib3==2.3.0
uv==0.7.11
uvicorn==0.23.2
validators==0.34.0
watchdog==6.0.0
watchfiles==0.20.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zipp==3.22.0
